@import 'variables';
@import 'mixins';
@import "../../node_modules/bootstrap/scss/bootstrap";


body {
    background-color: $background-color;

div{
    width: 200px;
    float: center;
    margin: 10px;
}
.my-text-primary{
    color: $my-text-primary;
}
  p {
      padding: $spacer !important; 
    } 
    h3 {
        font-size: 30pt;
    }
  
}